{% extends 'base.html.twig' %}

{% block title %}Cheese Car Location
{% endblock %}

{% block body %}
	<div class="row">
		<img src="https://i.redd.it/ilsbkbeu9r831.jpg" class="col-7 img-fluid">
		<div class="col-5 align-self-center text-center">
			<h1>Cheese Car Location</h1>
			<p>Bienvenue sur le site de location de Cheese Car : ici vous pouvez louer des voitures contre des services</p>
		</div>
	</div>
{% endblock %}
