{% extends 'base.html.twig' %}

{% block title %}Nouvelle entrée du calendrier{% endblock %}

{% block body %}
    <h2 class="m-3">Créer une nouvelle disponibilité</h2>

    {{ include('booking/_form.html.twig') }}

{% endblock %}
