{% extends 'base.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block body %}
    <h2 class="ms-3 mt-3">Ajouter un nouveau véhicule</h2>

    {{ include('vehicle/_form.html.twig') }}

    <a class="btn btn-warning mt-3 ms-4" href="{{ path('app_vehicle_index') }}">retour à la liste</a>
{% endblock %}
