{% extends 'base.html.twig' %}

{% block title %}Véhicule
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row m-5">
			<div class="col-6">
				<h1>Véhicule</h1>

				{% include "shared/_card.html.twig" %}

        </div>
			<div class="col-6 align-self-center">
				{% include "booking/calendar.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
