<nav class="navbar navbar-expand-lg navbar-dark bg-warning shadow-lg p-2">
	<div class="container-fluid">
		<img class="cheeseIcon" src="https://th.bing.com/th/id/R.4967476548406ee16e2b039467884747?rik=QibZwYjZ4Lxw7w&riu=http%3a%2f%2fwww.cuisineetsentiments.com%2fimages%2ffromage_8.jpg&ehk=Y9cvojYnqyKslXKjMeH%2bRTnCuqMVTYjjYUeIlwNGHjo%3d&risl=&pid=ImgRaw&r=0" class="img-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active text-black" aria-current="page" href="/">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-black" href="/vehicle/">Liste des véhicules</a>
				</li>
			</ul>
			<div>
				<li class="d-flex align-items-center justify-content-end nav-item">
					{% if app.user %}
						{{ app.user.email }}
						<a class="text-black m-2" href="{{ path('app_logout') }}">
							Se déconnecter</a>
					{% else %}
						<a class="text-black m-2" href="{{ path('app_login') }}">
							Se connecter</a>
					{% endif %}
				</li>
			</div>
		</div>
	</div>
</nav>
